fieldset label:not([for="radio1"],[for="radio2"],[for="radio3"]){
    display: inline-block;
    width: 200px;
}

fieldset label[for="checkbox"]{
    display: inline;
}
fieldset input:not([type="submit"],[type="reset"],[type="checkbox"],[type="radio"]) {
    width: 400px;
}