<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand pb-3" href="/">
      <img src="images/logo.png" alt="logo Freece">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 h5">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">Trang chủ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/intro">Giới thiệu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/product">Sản phẩm</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/news">Tin tức</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/signin">Đăng nhập</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/signup">Đăng ký</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/contact">Liên hệ</a>
        </li>
      </form>
    </div>
  </div>
</nav>