<article>
    <h1>TIN TỨC</h1>
    <div>
        <h2>LỘ DIỆN SIÊU NĂNG LỰC TỪ TRÁI XOÀI</h2>
        <img src="images/tintuc/news1.jpg" alt="" width="400px">
        <p>
            Xoài là một trong những cây ăn trái chủ lực của đồng bằng sông Cửu Long, 
            chiếm khoảng 48% tổng diện tích xoài cả nước.
            <a href="#">Xem chi tiết</a>
        </p>
    </div>
    <div>
        <h2>SỮA CÁC LOẠI HẠT - MÓN NGON CHO HỆ MIỄN DỊCH KHỎE</h2>
        <img src="images/tintuc/news2.jpg" alt="" width="400px">
        <p>
            Các loại sữa hạt càng ngày trở nên quen thuộc với mọi người, bởi hàm lượng 
            dinh dưỡng cao và lành tính.
            <a href="#">Xem chi tiết</a>
        </p>
    </div>
    <div>
        <h2>SỮA CHUA KIWI - MÓN QUÀ CHO SỨC KHỎE</h2>
        <img src="images/tintuc/news3.jpg" alt="" width="400px">
        <p>
            Kiwi có thành phần dinh dưỡng rất cao so với các loại hoa quả khác. 
            Hàm lượng vitamin C cao cho hệ miễn dịch khỏe mạnh cùng nguồn chất sơ hỗ trợ tiêu hóa.
            <a href="#">Xem chi tiết</a>
        </p>
    </div>
    <div>
        <h2>RA MẮT APP SỮA CHUA FREEEZE TRÊN NỀN TẢNG IOS</h2>
        <img src="images/tintuc/news4.jpg" alt="" width="400px">
        <p>
            Nhằm mang đến cho tất cả khách hàng những trải nghiệm thú vị nhất Công ty 
            Sữa Chua Freeeze giới thiệu app đặt hàng độc đáo, mua sắm mọi lúc mọi nơi 
            <a href="#">Xem chi tiết</a>
        </p>
    </div>
    <div>
        <h2>ĐĂNG KÝ THÀNH VIỆN NHẬN NGAY ƯU ĐÃI</h2>
        <img src="images/tintuc/news5.jpg" alt="" width="400px">
        <p>
            Công ty sữa chua hân hạnh mang đến chương trình "Đăng ký thành viên" với nhiều 
            ưu đãi độc đáo. Member Cảd - thẻ thành viên nhà sữa chua Freeeze dành cho tất 
            cả khách hàng đăng ký tài khoản và phát sinh đơn hàng.
            <a href="#">Xem chi tiết</a>
        </p>
    </div>
    <div>
        <h2>TUYẾN GIÁM SÁT CHUỖI CỬA HÀNG</h2>
        <img src="images/tintuc/news6.jpg" alt="" width="400px">
        <p>
            Giám sát hoạt động kinh doanh của các cửa hàng. Kiểm tra lịch làm việc của các cửa hàng.
            <a href="#">Xem chi tiết</a>
        </p>
    </div>
</article>
<aside>
    <h1>ĐƯỢC QUAN TÂM</h1>
    <div>
        <h2>KHAI TRƯƠNG HÂN HOAN - ƯU ĐÃI NGẬP TRÀN</h2>
        <img src="images/tintuc/hotnews.jpg" alt="" width="400px">
        <p>
            Khai trường hân hoan ưu đãi ngập tràn. Thêm 1 ngôi nhà mới của Sữa chua Feeeze 
            được khai trương.
            <a href="#">Xem chi tiết</a>
        </p>
    </div>
</aside>