<form method="POST" action="" enctype="application/x-www-form-urlencoded" class="w-auto p-4" style="border: 1px solid #000;">
    <fieldset>
        <legend>ĐĂNG KÝ</legend>
        <img src="images/dangnhap/userlogin.png" alt="userlogin" width="300px">
        <table class="table table-borderless">
            <tbody>
                <tr>
                    <th><label for="email">Email</label></th>
                    <td>
                        <input class="w-50" type="text" id="email" name="email" placeholder="Vui lòng nhập email">
                    </td>
                </tr>
                <tr>
                    <th><label for="psw">Mật khẩu</label></th>
                    <th>
                        <input class="w-50" name="psw" id="psw" type="password" placeholder="Vui lòng nhập mật khẩu">
                    </th>
                </tr>
                
                <tr>
                    <th></th>
                    <th>
                        <input type="submit" value="Đăng nhập">
                        <input type="reset" value="Hủy">
                    </th>
                </tr>
                <tr>
                    <th colspan="2">
                        Bạn quên <a href="#">Mật Khẩu?</a>
                    </th>
                </tr>
                <tr>
                    <th colspan="2">
                        <input type="checkbox"> Ghi nhớ cho lần đăng nhập sau
                    </th>
                </tr>
            </tbody>
        </table>
    </fieldset>
</form>

<script>
    const memberAvatar = document.getElementById("member-avatar");
    const imgPreview = document.getElementById("img-preview");
    const resetBtn = document.querySelector("input[type=reset]");
    memberAvatar.addEventListener('change', function () {
        const files = memberAvatar.files[0]
        if (files) {
            console.log('loaded')
            const fileReader = new FileReader()
            fileReader.readAsDataURL(files);
            fileReader.addEventListener("load", function () {
                imgPreview.style.display = "block";
                imgPreview.innerHTML = '<img src="' + this.result + '" width="400px"/>';
            });
        }
    })
    resetBtn.onclick = function(){
        console.log(resetBtn)
        imgPreview.innerHTML = ""
    }
</script>